.mat-tab-group {
    margin-bottom: 48px;
  }
::ng-deep .mat-tab-body-content {
    overflow: visible !important;
  }

  ::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
  }
