<div class="row ge-content">
  <div class="col-lg-4 center-content">
    <div>
      <img [src]="imgUrl" class="img-responsive center-block" width="200" height="200" />
      <input 
      style="display: none" 
      type="file" (change)="onFileChanged($event)" 
      accept="image/*"
      #fileInput>
      <span type="file" style="position:relative; right:36px; bottom:-90px;" class="img-icon" (click)="fileInput.click()"><i class="icon-picture fa-2x" ></i></span>
    </div>
    <p></p>
    <div class="row">
      <div class="col-sm-4">Mã Công</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{maCC}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">Tên</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{tenCC}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">Bộ phận</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{boPhan}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">Chức vụ</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{chucVu}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">Ngày bắt đầu</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{ngayBD | date: 'dd-MM-yyyy'}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">Trạng thái</div>
      <div class="col-sm-1">|</div>
      <div class="col-sm-7 td-ellip">{{trangThai}}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12" style="text-align: right;" >
        <button class="btn btn-pill btn-primary" type="button" (click)="updateEmp()"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <form (ngSubmit)="onPerson();" [formGroup]="formPerson">
        <div class="card-header">
          Thông tin cá nhân
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Mã nhân viên" formControlName='manv'>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Tên nhân viên" formControlName='tennv'>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Giới tính" formControlName='gt'>
                  <mat-option *ngFor="let gender of lstGender" [value]="gender.code">
                    {{gender.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" formControlName='ngaysinh'>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <form (ngSubmit)="onCitizen();" [formGroup]="formCitizen">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              Chứng minh nhân dân
            </div>
            <div class="col-sm-6">
              Thông tin công dân
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Số CMND" formControlName='socmnd'>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Tình trạng hôn nhân" formControlName='marriage'>
                  <mat-option *ngFor="let mr of lstMarriage" [value]="mr.code">
                    {{mr.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickercard" placeholder="Ngày cấp" formControlName='ngaycapcmnd'>
                <mat-datepicker-toggle matSuffix [for]="pickercard"></mat-datepicker-toggle>
                <mat-datepicker #pickercard></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Dân tộc" formControlName='ethnic'>
                  <mat-option *ngFor="let et of lstEthnic" [value]="et.EthnicCode">
                    {{et.EthnicName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Nơi cấp" formControlName='noicap'>
                  <mat-option *ngFor="let nc of lstNoiCap" [value]="nc.ProvinceCode">
                    {{nc.ProvinceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Tôn giáo" formControlName='religion'>
                  <mat-option *ngFor="let re of lstReligion" [value]="re.code">
                    {{re.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerexpcard" placeholder="Ngày hết hạn" formControlName='ngayhethan'>
                <mat-datepicker-toggle matSuffix [for]="pickerexpcard"></mat-datepicker-toggle>
                <mat-datepicker #pickerexpcard></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Quốc tịch" formControlName='nationality'>
                  <mat-option *ngFor="let na of lstNation" [value]="na.NationCode">
                    {{na.NationName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <form (ngSubmit)="onDegree();">
        <div class="card-header">
          Trình độ, bằng cấp
          <div class="card-header-actions">
              <button class="card-header-actions btn btn-link" style="padding: 0px; height: 24px"><i class="material-icons">add_circle</i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
               <table class= "table table-bordered" >
                 <thead>
                  <tr class="text-centered">
                    <th>STT</th>
                    <th>Nơi đào tạo</th>
                    <th style="width:50px">Trình độ</th>
                    <th style="width:50px">Khoa</th>
                    <th style="width:50px">Chuyên ngành</th>
                    <th style="width:50px">Năm TN</th>
                    <th style="width:50px">Xếp loại</th>
                    <th style="width:70px">#</th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr *ngFor="let degree of lstDegree; let i = index">
                    <th>{{i}}</th>
                    <td>{{degree.DegreePlace}}</td>
                    <td>{{degree.DegreeName}}</td>
                    <td>{{degree.DegreeDept}}</td>
                    <td>{{degree.DegreeMajor}}</td>
                    <td>{{degree.DegreeDate | date:'yyyy'}}</td>
                    <td>{{degree.DegreeRank}}</td>
                    <td>
                        <div class="card-header-actions btn btn-link" style="padding: 0px; height: 24px" (click)="UpdateDegree()"><i class="material-icons">create</i></div>
                        <div class="card-header-actions btn btn-link" style="padding: 0px; height: 24px"><i class="material-icons">delete_outline</i></div>
                    </td>
                  </tr>
                 </tbody>
               </table>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>